HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### NODE ###
/node/
node.tmp/
node_modules/
npm-debug.log.*

### SASS ###
.sass-cache/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.pydevproject
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
./settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml
.externalToolBuilders/**
*.launch
.cproject
.buildpath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Maven ###
/log/
/target/
.gradle/
/build/

### Package Files ###
*.jar
*.war
*.ear
*.db

### Windows ###
Thumbs.db
Desktop.ini

### Mac OSX ###
.DS_Store
.svn
._*

.Spotlight-V100
.Trashes

### Directories ###
/bin/
/deploy/
*.log

*.class
.merge_file*

### Gradle Wrapper ###
!gradle/wrapper/gradle-wrapper.jar

### Maven Wrapper ###
!.mvn/wraper/maven-wrapper.jar

.eslintcache